.inputGroup {
    margin: 1rem auto;
    width: 90%;
    position: relative;
}

.inputGroup section {
    text-align: center;
    font-size: smaller;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.inputGroup .label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 1em;
    pointer-events: none;
    transition: all 0.2s ease;
    color: #646464;
}

.inputGroup button,
.inputGroup button:hover {
    margin: 0;
    height: 3rem;
    width: 3rem;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inputGroup input:focus+.label,
.inputGroup input:valid+.label {
    transform: translateY(-50%) scale(0.9);
    margin-left: 1em;
    border-radius: 0.875rem;
}

.inputGroup input:focus,
.inputGroup input:valid {
    border-color: #fff;
}

.inputGroup input:has(:invalid),
.inputGroup input:has(:invalid)+.label {
    color: #fe6e6e;
    border-color: #fe6e6e;
}

.danger {
    display: block;
    color: #fe6e6e;
}