.label {
    width: 90%;
    margin: auto;
    text-align: center;
}

.input {
    margin: auto;
    height: 5rem;
    padding: 10px;
    outline: 0;
    font-size: 18px;
    border: 2px solid rgba(105, 105, 105, 0.397);
    border-radius: 15px;
    background: transparent;
    transition: border-color 0.3s;
    width: 100%;
}

.label .input+span {
    position: absolute;
    left: 10px;
    bottom: 15px;
    cursor: text;
    transition: 0.3s ease;
    background: transparent;
}

.input:focus {
    border-color: var(--color-2);
}

.input:valid+span {
    display: none;
}
